@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

* {
  font-family: Suse;
}
html {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 173, 1) 45%,
    rgba(252, 176, 69, 1) 97%
  );
}

.Table-style {
  margin-top: 2em;
  border-collapse: collapse;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
}

.Table-style thead tr {
  background-color: rgb(44, 42, 42);
}

.Table-style tbody tr {
  color: rgb(0, 0, 0);
}

.Table-style th,
.Table-style td {
  text-align: center;
  padding: 20px 20px;
  transform: scale(1);
  transition: 300ms ease;
  cursor: pointer;
}

.Table-style tbody tr:hover {
  transform: scale(1.03);
  transition: 500ms ease;
}

.Table-style tbody tr:nth-of-type(odd) {
  background-color: rgba(214, 206, 206, 0.452);
  backdrop-filter: Blur(10px);
}
.Table-style tbody tr:nth-of-type(even) {
  background-color: rgba(153, 150, 150, 0.37);
  backdrop-filter: Blur(10px);
}

.Table-style {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.281);
}
